 <div class="section">
            <div class="container">	
            	<div class="row">
            		<div class="col-md-6 col-md-offset-3"><div class="vspacer2"></div></div>
            	</div>
            	<div class="row">
            		<div class="col-md-6 col-md-offset-3"><center><%= image_tag("clinicaaxonazul.png", class: 'center') %></center></div>
            	</div><div class="row">
            		<div class="col-md-6 col-md-offset-3">
            		<div class="panel panel-default">
						<div class="panel-body">
							<h3><%= @goo.rawdata.extra.name %> Necesitamos saber mas de ti!</h3	>
						<form>
							<div class="form-group">
						    	<label for="Nombre">Nombre</label>
						    	<input type="Nombre" class="form-control" id="inputNombre" placeholder="Nombre">
						  	</div>
							
						</form>	
								
								
		</div>
	</div>
</div>


<h1>Session.nuevo</h1>
<h2><%= @respuesta.class %></h2>
<h2><%= @goo.class %></h2>
<h2><%= self.instance_variables %></h2>