<!DOCTYPE html>
<html>
  <head>
    <title>Clinica Axon de Anticoagulación</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	  	 <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	  	 	<div class="container">
	  	 	<div class"navbar-header">
	  	 	<a class="navbar-brand"><%= image_tag("CACBrand.png", height: '30') %></a>
	  	 	</div>
	  	 	<div class"navbar-collapse collapse">
	  	 	<% if current_user %>
	  	 		<a class="navbar-brand navbar-right" href="#">
        		<img height="30" class="img-rounded" alt="Brand" src="<%= current_user.foto %>"</a>
	  	 		
	  	 		<ul class="nav navbar-nav navbar-right">
	        		<li class="dropdown">
	          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.nombre %> <span class="caret"></span></a>
	         		 <ul class="dropdown-menu">
	            		<li><a href="#">Opciones</a></li>
	            		<li role="separator" class="divider"></li>
	            		<li><%= link_to "Cerrar Sesión", signout_path, id: "sign_out" %></li>
	          		</ul>
	        		</li>
	      		</ul>
	 		<% else %>
	 		<% linkg = "<i class=\"fa fa-google\"></i> Ingresar con Google" %>
	 			<%= link_to linkg.html_safe, "/auth/google_oauth2", id: "sign_in", class:'btn btn-sm btn-social btn-google navbar-btn navbar-right'%>
	 		<% end %>
	 		</div>
	  	 </div>
	  	 </div>
	  	    <%= yield %>
  </body>
</html>
	
  	
  	
  	
  	<!--
  	  	
    <div id="main-container" class="container-fluid">	
      <% if current_user %>
        Signed in as <strong><%= current_user.nombre %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>

-->


